html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Input Mono', monospace;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: lightgray;
}
main {
    padding-bottom: 1em;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    max-width: 800px;
}

section {
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

/* section>div:nth-last-child(-n+3) {
    color: white;
} */

aside {
    width: 100%;
    margin: 0 .25em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid gray;
}

button {
    margin-top: 2em;
}

footer {
    padding-top: .5rem;
    padding-bottom: .25rem;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}
code {
    font-family: inherit;
    font-size: 1rem;
    opacity: .5;
    margin: 0;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: crosshair;
    transition: background-color .1s ease-out;
    min-width: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    padding: .25rem;
    margin: .25rem;
    background-color: white;
}

.color {
    /* background-color: greenyellow; */
    width: 100%;
    height: 6rem;
}

.selected {
    border: 2px dashed black;
    /* opacity: .7; */
}


@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

p {
    animation: appear .5s forwards;
}